html, body{
font-family: 'Open Sans', sans-serif;
   margin:0;
   padding:0;
   height:100%;
}
.tea-green{
 background-color:#C6EBBE;
 }
 .tea-green-text{
 color:#C6EBBE;
 }
 .opal{
 background-color:#95B2B0;
 }
 .opal-text{
 color:#95B2B0;
 }
 .glaucous{
 background-color:#647AA3;
 }
 .glaucous-text{
 color:#647AA3;
 }
 .dark-cornflower-blue{
 background-color:#334195;
 }
 .dark-cornflower-blue-text{
 color:#334195;
 }
 .phthalo-blue{
 background-color:#020887;
 }
 .phthalo-blue-text{
 color:#020887;
 }
.wrapper input[type="text"] {
    position: relative;
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.wrapper:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}