@()

@main("Stock Quotes Index") {
<div class="container">
  <div class="row">
    <div class="card mb-4">
      <div class="card-body mx-5">
        <!-- Title -->
        <h4 class="card-title">Default Stocks</h4>
        <!-- Text -->
        <p class="card-text">Here are some default stock quotes. Use the search bar to look up stocks.</p>
      </div>
    </div>
  </div>

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 mb-4">

    <table id="dt-basic-checkbox" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th class="th-sm">Name
        </th>
        <th class="th-sm">Symbol
        </th>
        <th class="th-sm">Price
        </th>
        <th class="th-sm">Change In Percent
        </th>
        <th class="th-sm">Peg
        </th>
        <th class="th-sm">Dividend
        </th>
      </tr>
      </thead>
      <tbody>

      </tbody>
      <tfoot>
      <tr>
        <th>Name
        </th>
        <th>Symbol
        </th>
        <th>Price
        </th>
        <th>Change In Percent
        </th>
        <th>Peg
        </th>
        <th>Dividend
        </th>
      </tr>
      </tfoot>
    </table>

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->
</div>
}
